Package: certificateManager
Version: 0.101-0
Architecture: amd64
Maintainer: J.F.Gratton <nexus@famillegratton.net>
Description: My own certificate manager
 Tool to manage root CA and server SSL certificates
Section: Administration Utilities
Depends: gcc
